div#arutab-insert-container{
    position:fixed;
    top: -99999px;
    width: calc( 100%);
    height: calc(100%);
    padding:15px;
    border: none;
    top:0;
    left:0;
    transition: opacity 10ms ease-in;
    box-sizing: border-box;
    z-index:9999999999;
}
div#arutab-insert-container.arutab-container-visible{
    opacity:0.9;
}

iframe#arutab-insert-iframe{
    height:100%;
    width:100%;
}